@using Blog.Entities
@{
    List<Comment> comments = ViewBag.Comments;
}

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="comments-list">
                @foreach (var c in comments)
                {
                    <blockquote>
                        <p> @c.Text </p>
                        <p align="right">@c.Author.Name &nbsp;&nbsp; @c.PostDate</p>
                    </blockquote>
                }
            </div>
        </div>
    </div>
    <input type="text" value="@User.Identity.Name" style="display: none;" id="current-user" name="current-user"/>  
</article>