<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <textarea name="comment" id="comment-txt" class="form-control input-sm" rows="5" placeholder="Do you wanna mock the author? Just leave your comment :)"></textarea>
                <p>
                    <input type="button" class="btn btn-default" value="Comment" id="comment-btn" name="comment-btn" />
                </p>
            </div>
        </div>
    </div>
</div>
